@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('../../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto.eot');
  src: url('../../fonts/roboto/Roboto.woff2') format('woff2'),
       url('../../fonts/roboto/Roboto.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MILANTING_GBOUTSIDEYS';
  src: url('../../fonts/mi-lanting/MILANTING_GBOUTSIDEYS.woff') format('woff'),
       url('../../fonts/mi-lanting/MILANTING_GBOUTSIDEYS.ttf') format('truetype'),
       url('../../fonts/mi-lanting/MILANTING_GBOUTSIDEYS.svg#MILANTING_GBOUTSIDEYS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mi Lanting';
  src: url('../../fonts/mi-lanting/Mi-Lanting.eot');
  src: url('../../fonts/mi-lanting/Mi-Lanting.woff2') format('woff2'),
       url('../../fonts/mi-lanting/Mi Lanting.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

