@import url("base/fonts.css");

html {
	height: 100%;
}

body {
	font-family: 'Mi Lanting', arial;
	font-size: 14px;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

ul {
	padding: 0;
}

.widget {
	width: 365px;
	height: 730px;
	position: relative;
	border: 1px solid #e7e7e7;
	margin: 0 auto;
}

.widget-wrapper {
	background-color: #5cadce;
    margin-bottom: -325px;
    min-height: 100%;
}


.main-screen {
	color: #ffffff;
}

.top-main {
	color: #ffffff;
	padding-bottom: 15px; 
	padding-left: 22px;
	padding-right: 32px;
	padding-top: 42px;
}

.top-dropdown {
	position: relative;
	padding-top: 7.5px;
	width: 20px;
    height: 20px;
    cursor: pointer;
}

.top-dropdown:before {
	position: absolute;
	top: 0;
	left: 50%;
	content: '';
	height: 16px;
	width: 16px;
	background-image: url(../img/icons/open-settings-btn.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.top-dropdown:hover,
.top-dropdown:active,
.top-dropdown:visited {
	color: #ffffff;
	text-decoration: none;
}

.dropdown-link {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.dropdown-link:hover,
.dropdown-link:active,
.dropdown-link:visited {
	color: #ffffff;
	text-decoration: none;
}

.top-data {
	display: flex;
	justify-content: space-between;
}

.top-temp-wrapper {
	display: flex;
	justify-content: flex-start;
}

.top-temp {
	font-family: 'Mi Lanting', arial; 
	font-size: 52px;
	line-height: 100%;
}

.top-celcius {
	font-size: 26px;
	vertical-align: text-top;
}

.top-other-info {
	font-size: 13px;
}


.bottom-main {
	height: 325px;
	background-color: #ffffff;
	//width: 365px;
}


.more-info {
	display: block;
	background-color: #5cadce;
	text-align: right;
	color: #ffffff;
	text-decoration: none;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.more-info:visited,
.more-info:hover,
.more-info:active {
	color: #ffffff;
	text-decoration: none;
}


.my-top-angle-right {
	margin-left: 11px;
}


.extended-data {
	color: #000000;
}

.extended-day {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.extended-icon {
	height: 75px;
	width: 75px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 30px;
}

.extended-descr {
	color: #535353;
}



.clear-day {
	background-image: url(../img/icons/clear-day.png);
}

.clear-night {
	background-image: url(../img/icons/clear-night.png);
}

.partly-cloudy-day {
	background-image: url(../img/icons/partly-cloudy-day.png);
}

.partly-cloudy-night {
	background-image: url(../img/icons/partly-cloudy-night.png);
}

.cloudy {
	background-image: url(../img/icons/cloudy.png);
}

.rain {
	background-image: url(../img/icons/rain.png);
}

.sleet {
	background-image: url(../img/icons/sleet.png);
}

.snow {
	background-image: url(../img/icons/snow.png);
}

.wind {
	background-image: url(../img/icons/wind.png);
}

.fog {
	background-image: url(../img/icons/fog.png);
}

.extended-wrapper {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.extended-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.extended-weekday {
	font-size: 16.5px;
}


.extended-temp {
	font-size: 24px;
	margin-right: 22px;
}



.divider {
	border-bottom: 2px solid #f7f7f7;
}

.divider-extended {
	width: 80%;
	margin-left: 20%;
}

.bottom-link {
	margin-top: 18px;
	text-align: center;
}

.bottom-link-style {
	color: #000000;
	text-decoration: none;
}

.bottom-link-style:active, 
.bottom-link-style:visited, 
.bottom-link-style:hover {
	color: #000000;
	text-decoration: none;
}

/*dropdown-list*/

.widget-wrapper-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

.dropdown-list {
	display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #5cadce;
    height: 150px;
    color: #ffffff;
    padding-top: 37px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 11px;
}

.dropdown-close-btn-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.dropdown-close {
	position: relative;
	height: 15px;
	width: 15px;
	cursor: pointer;
}

.dropdown-close:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	height: 16px;
	width: 16px;
	background-image: url(../img/icons/settings-close-btn.png);
	background-repeat: no-repeat;
	background-size: contain;
}


.dropdown-list-style {
	list-style: none;
}

.dropdown-divider {
	width: 100%;
    border-bottom: 1px solid rgba(158, 194, 209, 0.49);
    margin-top: 11px;
    margin-bottom: 11px;
}

/*settings*/

.widget-settings-wrapper {
	background-color: #efeff0;
	width: 100%;
	min-height: 100%;
	margin-bottom: -325px;
}

.settings-header {
	width: 100%;
	padding-top: 33px;
}

.settings-title {
	font-size: 14px;
	font-weight: bold;
	padding-left: 30px;
	color: #000000;
	text-decoration: none;
}

.settings-title:hover,
.settings-title:active,
.settings-title:visited {
	color: #000000;
	text-decoration: none;
}

.settings-divider {
	width: 100%;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 15px;
}

.settings-header-divider {
	border-bottom: 1px solid #e0e0e0;
}

.settings-block {
	padding-left: 30px;
	background-color: #ffffff;
	margin-top: 11px;
}

.settings-block-title {
	color: #b5b5b5;
	padding-top: 11px;
}

.settings-block-divider {
	width: 90%;
	margin-top: 11px;
}

.my-settings-angle-left {
	margin-right: 7.5px;
}

.settings-block-body {
	padding-right: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.settings-block-body:hover,
.settings-block-body:visited,
.settings-block-body:active {
	text-decoration: none;
    color: #000000;
}

.settings-block-body-text {
	margin-top: 11px;
	font-size: 16px;
	padding-bottom: 11px;
}



.settings-block-body-icon {
	color: #b5b5b5;
}

.my-settings-angle-right {
	margin-left: 11px;
}

/*location screen*/

.widget-wrapper-location {
	background-color: #f7f7f7;
	width: 100%;
	min-height: 100%;
	margin-bottom: -67px;
}

.location-header {
	width: 100%;
	padding-top: 30px;
	background-color: #efeff0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.location-header-divider {
	width: 100%;
    border-bottom: 1px solid #aaa9a9;
    margin-top: 11px;
}

.location-change-btn {
	height: 26px;
    width: 76px;
    -webkit-appearance: none;
    border: 1px solid #aaa9a9;
    border-radius: 2px;
    font-family: 'Mi Lanting', arial;
    font-size: 14px;
    background-color: #efeff0;
    padding: 0;
    margin-right: 33px;
    outline: none;
}

.location-cancel-change-btn {
	display: none;
	height: 26px;
    width: 76px;
    -webkit-appearance: none;
    border: 1px solid #aaa9a9;
    border-radius: 2px;
    font-family: 'Mi Lanting', arial;
    font-size: 14px;
    background-color: #efeff0;
    padding: 0;
    margin-right: 33px;
    outline: none;
}

.location-block {
	padding-left: 30px;
	padding-top: 11px;
}

.location-item {
	padding-right: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    text-decoration: none;
	color: #000000;
}

.location-city {
	font-size: 16px;
}

.location-delete-btn {
	display: none;
	position: relative;
	height: 30px;
    width: 30px;
    -webkit-appearance: none;
    border: 1.2px solid #aaa9a9;
    border-radius: 15px;
    font-family: 'Mi Lanting', arial;
    font-size: 22px;
    background-color: #ffffff;
    color: #aaa9a9;
    padding: 0;
    outline: none;
}

.location-delete-btn:before {
	content: '-';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.location-item:hover,
.location-item:visited,
.location-item:active {
	text-decoration: none;
	color: #000000;
}

.location-city-del {
	position: relative;
	width: 15px;
	height: 15px;
	-webkit-appearance: none;
	border: 1px solid #737373;
	outline: none;
}

.location-city-del::after {
	position: absolute;
    font-family: "FontAwesome";
    font-size: 11px;
    content: "\f00c";
    top: 0.7px;
    left: 0.7px;
    visibility: hidden;
}

.location-city-del:checked::after {
	visibility: visible;
}

.location-comment {
	color: #b5b5b5;
}

.location-divider {
	width: 90%;
    border-bottom: 1px solid #aaa9a9;
    margin-top: 11px;
}

.my-location-marker {
	margin-left: 15px;
	color: rgba(75, 74, 74, 0.69);
}

.bottom-location {
	height: 67px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.location-wrapper-cover {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.location-map-wrapper {
	width: 90%;
	position: absolute;
	border-radius: 5.5px;
	overflow: hidden;
}

.location-map {
	width: 100%;
	height: 100%;
}

.location-search-wrapper {
	position: absolute;
	display: flex;
    top: 0;
    width: 100%;
    height: 37px;
    border-top-right-radius: 5.5px;
    border-top-left-radius: 5.5px;
    z-index: 1;
}

.location-search {
	width: 90%;
    background-color: #ffffff;
    border: 0;
    -webkit-appearance: none;
    font-size: 15px;
    font-style: italic;
    font-family: 'Mi Lanting', arial;
    text-indent: 7.5px;
    line-height: 52px;
    outline: none;
}

.location-confirm-btn,
.location-search-btn {
	-webkit-appearance: none;
    width: 45px;
    font-size: 13px;
    color: #aaa9a9;
    background-color: #ffffff;
    padding: 0;
    text-align: center;
    line-height: 35px;
    text-align: center;
}

::-webkit-input-placeholder {
	font-size: 15px;
	font-style: italic;
	font-family: 'Mi Lanting', arial;
	text-indent: 7.5px;
	padding: 0;
	line-height: 52px;
}

.location-add-btn {
	position: relative;
	height: 30px;
    width: 30px;
    -webkit-appearance: none;
    border: 1.2px solid #aaa9a9;
    border-radius: 15px;
    font-family: 'Mi Lanting', arial;
    font-size: 22px;
    background-color: #ffffff;
    color: #aaa9a9;
    padding: 0;
    outline: none;
}

.location-add-btn:before {
	content: '+';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*extended forecast*/

.widget-extended-wrapper {
	background-color: #ffffff;
	width: 100%;
	min-height: 100%;
	margin-bottom: -112px;
}

.extended-header {
	padding-top: 52px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.extended-title {
	font-size: 22px;
}

.extended-dates {
	font-size: 9px;
}

.table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 22px;
	text-align: center;
}

.thead {
	border-bottom: 1px solid #aaa9a9;
}

.th {
	width: 20%;
	max-width: 20%;
}

.th-weekday {
	font-size: 15px;
	margin-bottom: 5.5px;
}

.th-date {
	font-size: 11px;
	margin-bottom: 7.5px;
}

.td-icon {
    padding-top: 40px;
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: 40%;
}

.extended-clear-day {
	background-image: url(../img/icons/colored/clear-day.png);
}

.extended-clear-night {
	background-image: url(../img/icons/colored/clear-night.png);
}

.extended-partly-cloudy-day {
	background-image: url(../img/icons/colored/partly-cloudy-day.png);
}

.extended-partly-cloudy-night {
	background-image: url(../img/icons/colored/partly-cloudy-night.png);
}

.extended-cloudy {
	background-image: url(../img/icons/colored/cloudy.png);
}

.extended-rain {
	background-image: url(../img/icons/colored/rain.png);
}

.extended-sleet {
	background-image: url(../img/icons/colored/sleet.png);
}

.extended-snow {
	background-image: url(../img/icons/colored/snow.png);
}

.extended-wind {
	background-image: url(../img/icons/colored/wind.png);
}

.extended-fog {
	background-image: url(../img/icons/colored/fog.png);
}

.td-chart {
	height: 185px;
	width: 100%;
}

.chart-wrapper {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.td-wind-direction {
	font-size: 13px;
}

.td-wind-speed {
	font-size: 11px;
	padding-bottom: 11px;
}

.tbody {
	border-bottom: 1px solid #aaa9a9;
}

.bottom-extended {
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}

.extended-close-btn {
	position: relative;
	height: 30px;
    width: 30px;
    -webkit-appearance: none;
    border: 1.2px solid #aaa9a9;
    border-radius: 15px;
    font-family: 'Mi Lanting', arial;
    font-size: 22px;
    background-color: #ffffff;
    color: #aaa9a9;
    padding: 0;
}

.extended-close-btn:before {
	content: '+';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-46%, -52%) rotate(45deg);
}

/*options*/
.options-block {
	height: 80px;
    background-color: #ffffff;
    position: absolute;
    bottom: 22px;
    left: 22px;
    right: 22px;
    z-index: 1;
    border-radius: 3.7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.option-item {
	margin-left: 18.5px;
    margin-top: 11px;
    font-size: 15px;
    height: 50%;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.option-item:hover, 
.option-item:visited {
	text-decoration: none;
    color: #000000;
}

.option-item:active {
	text-decoration: none;
    color: #5cadce;
}


.option-divider {
	border-bottom: 2px solid #f7f7f7;
}


/*share block*/

.share-block {
	height: 220px;
    background-color: #ffffff;
    position: absolute;
    bottom: 22px;
    left: 22px;
    right: 22px;
    z-index: 1;
    border-radius: 3.7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.share-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 15px;
}

.share-icons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.share-divider {
	border-bottom: 2px solid #f7f7f7;
	width: 100%;
}

.share-item {
	font-family: "social-share-kit";
	margin-left: 15px;
	margin-right: 15px;
	font-size: 22px;
	border-radius: 15%;
	padding: 9px;
}

.share-item:before {
	font-family: "social-share-kit";
	font-size: 28px;
	position: relative;
    top: 0;
    vertical-align: middle;
}

.share-item:first-child {
	margin-left: 0px;
}

.share-cancel-btn,
.share-cancel-btn:active,
.share-cancel-btn:visited,
.share-cancel-btn:hover {
	color: #000000;
	text-decoration: none;
}

.share-item-facebook {
	background-color: #3B5998;
}

.share-item-facebook:before {
	content: "a";
    text-indent: 4px;
    margin-right: -4px;
}

.share-item-pinterest {
	background-color: #BD081C;
}

.share-item-pinterest:before {
	content: "e";
	transform: scale(.9);
}

.share-item-vk {
	background-color: #54769a;
}

.share-item-vk:before {
	content: "i";
}

.share-item-google-plus {
	background-color: #EA4335;
}

.share-item-google-plus:before {
	content: "v";
}